html {
	--primary-background: #570cc7;    /* main colour */
	--secondary-background: #361275;    /* variant */
	--third-background: #6f24f5;     /* for text or icons */
	--fourth-background: #190836;
	--fifth-background: #6521db;
	--alt-color: #a8a100;
    --alt-color2: #f5eb25;
    --font-color1:#8E829B;
    --pad-and-gap:1em;	
    --pad-and-gap-half:calc(var(--pad-and-gap)/2);
    --price-color:#BC0B28;
}
body {
    line-height: 1.25;
    font-family: "Arial Rounded MT Bold" ;
    color: var(--font-color1);
}
p{
  font-family: "Helvetica Neue"
}
a {
  color: white;
}
/* header styling */

.page-header{
  background-image: 
  linear-gradient(var(--third-background), var(--primary-background),var(--secondary-background));
  color: white;
  display: grid;
  grid-template-columns:auto 1fr auto auto; 
  grid-template-areas: 
  "logo empty prod toggle"
  "search search search search"
  "nav nav nav nav"
  ;
}

.logo {
  background: url(img/svg/logo.svg);
  grid-area: logo;
  background-repeat: no-repeat;
  margin-bottom: 0.25em;
  width: 10em;
}
.nav-toggle {
  grid-area: toggle;
  border-radius: 0.5em;
  
}
.search {
  grid-area: search;
  margin-top:var(--pad-and-gap);
  margin-bottom: var(--pad-and-gap-half);
  font-family: Helvetica;
  font-style: italic;
}
.navigation {
  grid-area: nav;
  margin-bottom: 0.5em;
  display: none;
}
.show-nav{
  display: block;
  text-align: right;
  padding: 0;
  font-size: 1em;
  line-height: 1.5;
  width: 100%;
  border-radius: 0.5em;
  position: sticky;
  right: 50%;
  box-shadow: black 5px 5px;
}
.your-products {
  display: flex;
  grid-area: prod;
}
.products, .page-header, .page-footer {
  padding-left: var(--pad-and-gap);
  padding-right: var(--pad-and-gap);
  padding-top: var(--pad-and-gap-half);

}
.search-input{
font-size: var(--pad-and-gap);
  background-color: lightgrey;
  border: black solid 1px ;
  border-radius: 20px;
  margin: 0.25em 0 0.25em 0;
  padding: 0.5em;
  color: black;
  width: 85%;
}
.magnifier{
  height: auto;
  width: 2em; 
}
.search-button{
  background-color: transparent;
  border: none;
}
.fav, .cart{
  color:white;    
}
.menu{
  text-align: left;
  display: flex;
  justify-content: space-around;
}
.menu a:link {
  text-decoration: none;
  color: white;
}
.menu a:visited {
  color: white;
}
.menu a:hover {
  color:var(--alt-color2)
}
.menu a:active {
  color:var(--alt-color)
}
.submenu{
  display: none;
}
.show-sub-submenu{
  display: block;
  text-align: left;
  padding-left: 0.5em;
  font-size: 0.8em;
  line-height: 1.5;
  width: 9.5em;
  border-radius: 0.5em;
  margin-bottom: 2em;
}
legend {
  margin-bottom: var(--pad-and-gap-half);
  padding-top: var(--pad-and-gap);
}
fieldset{
  margin-top: var(--pad-and-gap-half);
  font-size: 1.2em;
}

/* filters styling */

.show-options{
  margin-right: var(--pad-and-gap-half);
}
.select-option {
  background-color: #eee;
  border-radius: 0.25em;
  appearance: none;
  background-image: url('https://static.thenounproject.com/png/3466597-200.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 1em;
  padding-left: 0.5em;
}
.filter-list li{
  margin-bottom: var(--pad-and-gap-half);
}
.filter-list img{
  width: 6em;
}
.slider{
  padding-top: 1.5em;
}
.slider label{
  line-height: 3em;
}
.input-slider{
  opacity: 0.5;
}
.input-slider:active{
  opacity: 1;
}
.filter-list .star {
  opacity: 0.65;
}
.filter-list .star:hover {
  opacity: 1;
}
.output-price{
  color: var(--alt-color);
  font-weight: bold;
  opacity: 0.65;
}
.radio, .checkbox{
  display: none;
}
.radio-button{
  background: url(img/svg/radiobuton.svg) no-repeat left;
  padding-left: 1.5em;
  cursor: pointer;
} 
input:checked + .radio-button{
  background: url(img/svg/unchecked-readio.svg) no-repeat left;
  padding-left: 1.5em;
  cursor: pointer;
} 
input:checked + .check-button{
  background: url(img/svg/checked-check.svg) no-repeat left;
  padding-left: 1.5em;
  cursor: pointer;
}
.check-button{
  background: url(img/svg/checkb.svg) no-repeat left;
  padding-left: 1.5em;
  cursor: pointer;
}
.rating-label{
  cursor: pointer;
}
.star{
  width: 25%;
}
ins{
  color:var(--price-color);
  text-decoration: none;
  margin-left: var(--pad-and-gap-half);
}

/* Product styling */

.product{
  padding: 1em;
  border-radius: 0.25em;
  background-color: #eee;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
  position: relative;
}
.product .see-more {
  color: white;
  text-decoration: none;
  background-color:var(--primary-background);
  padding: 0.25em;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.2em #888888;
}
.product-name{
  text-decoration: none;
  color: rgb(50, 50, 50);
  cursor: pointer;
}
.product-options li{
  margin-bottom: var(--pad-and-gap-half);
}
.product-options .add-to-cart{
  margin-left: -0.5em;
}
.form-options{
  margin-bottom: 3em;
}
.add-to-cart{
  background: url(img/svg/add-to-cart-button.svg) no-repeat;
  height: 4em;
  width: 12.5em;
  border: none;
}
.add-product{
  position: absolute;
  bottom: 0.25em;
}
.add-favourite{
  background: url(img/svg/favourite.svg) no-repeat center;
  height: 4em;
  width: 2.5em;
  border:none ;  
}
.only-cart{
  background: url(img/svg/only-cart.svg) no-repeat center;
  height: 2.5em;
  width: 3em;
  cursor: pointer;
}
.favourite-sm{
  background: url(img/svg/fav-white.svg) no-repeat center;
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
}
dt{
  margin-bottom: 1em;
}

/* footer styling */

body .page-footer{
  background-image: 
  linear-gradient(var(--third-background), var(--primary-background),var(--secondary-background));;
  color: white;
  margin-bottom: -1em;
 
}
.page-footer a:link {
  text-decoration: none;
}
.page-footer a:visited {
  color: white;
}
.page-footer a:hover {
  color:var(--alt-color2)
}
.page-footer a:active {
  color:var(--alt-color)
}
.legal{
  line-height: 1.5;
  text-align: center;
  font-size: 1em;
}
.media{
  text-align: center;
}
.media img{
  height: 2.5em;
}
.page-footer{
  font-size: 0.8em;
}
.pagination {
  text-align: center;
}
.pages {
  display: flex;
  justify-content: center;
}
.pages > li {
  margin: var(--pad-and-gap-half);
}
.social {
  display: flex;
  justify-content: space-around;
  margin: var(--pad-and-gap-half);
  padding: var(--pad-and-gap-half);
  text-align: center;
}
.copyright {
  text-align: right;
  padding-bottom: 1em;
}